In [1]:
import pandas as pd

In [40]:
#file size is too huge but read only 900
df_chunk = pd.read_csv('df.csv', chunksize=900)

def process_chunk(df):
    #filter out the column and retain the columns "2" and "4"
    #return df[["2","4"]]
    return df.iloc[:][['2','4']]
    #return df.iloc[::2][['2','4']]  #only alternative rows' columns
    
#every chunk will be read and passed to the functions     
for chunk in df_chunk:
    print(process_chunk(chunk))

            2         4
0   -0.542956  0.421120
1    1.897928 -1.868350
2   -0.198272  1.373825
3   -0.086345  0.464497
4    0.640646 -0.481892
..        ...       ...
895 -0.473624 -0.467545
896 -0.948571 -0.303181
897  0.751673  1.179017
898 -0.417264 -1.668898
899 -1.396733  0.024549

[900 rows x 2 columns]
             2         4
900   0.915350  0.569300
901   0.521021  0.540450
902   0.020777 -1.980528
903  -1.175867  0.658267
904  -0.701592  0.804939
...        ...       ...
1795  1.554945  0.210526
1796 -1.370360  1.095884
1797  1.582140  0.720601
1798 -1.200729  1.979919
1799  0.114588  0.780837

[900 rows x 2 columns]
             2         4
1800 -0.124414 -1.084121
1801  1.220259  0.425600
1802 -1.330394  0.932516
1803 -0.394038 -0.556654
1804  0.002439 -1.731504
...        ...       ...
2695 -1.564353 -0.487405
2696  1.615763  0.813957
2697  2.774597  1.303096
2698 -0.147946  0.872552
2699 -0.590854 -0.485262

[900 rows x 2 columns]
             2         4
2700  1.348210 -0.091656
2701  0.499050 -0.222493
2702 -0.691263 -0.049662
2703 -0.303661 -0.472699
2704  0.409290  1.462700
...        ...       ...
3595 -0.540351 -1.188553
3596  0.222293 -0.517216
3597 -0.707444  0.401634
3598 -0.171215 -0.426404
3599 -0.944236 -1.194354

[900 rows x 2 columns]
             2         4
3600  0.003091 -2.373662
3601  0.077954  1.515075
3602  1.472735  0.422521
3603 -1.049665  0.237414
3604 -0.333182  0.013533
...        ...       ...
4495  0.639231 -0.154075
4496  2.746456  0.405762
4497  0.767372 -1.485717
4498  1.391104 -0.007982
4499 -1.010526  0.192722

[900 rows x 2 columns]
             2         4
4500  0.481342 -0.149232
4501 -0.423983 -0.944945
4502  0.693656  1.817760
4503  0.561475  0.236225
4504  0.478489 -0.631322
...        ...       ...
5395  0.195572  2.536952
5396  2.009716 -0.495020
5397 -0.682759 -0.241263
5398  0.808768 -0.826104
5399 -0.575809 -0.024034

[900 rows x 2 columns]
             2         4
5400  1.766662 -0.191170
5401 -2.461434  0.382932
5402  0.241799  1.079596
5403 -1.097839 -0.371177
5404  1.919357  0.033091
...        ...       ...
6295  0.150389 -0.676211
6296 -0.893708  0.105146
6297  0.971119  0.217463
6298 -1.579789 -1.805619
6299 -1.231945 -1.265154

[900 rows x 2 columns]
             2         4
6300  0.193160 -2.089586
6301 -0.020918 -0.733477
6302 -1.032286  0.546877
6303 -0.292040 -0.006186
6304  2.639685 -0.151676
...        ...       ...
7195  1.001754  1.042543
7196 -0.967433 -0.706497
7197  0.645363 -0.722826
7198  1.057048 -0.724818
7199  0.213852 -0.901918

[900 rows x 2 columns]
             2         4
7200  1.829128 -0.382234
7201 -0.065903 -0.548937
7202  0.933422 -0.476773
7203  2.063277  0.010616
7204 -0.420170  1.537850
...        ...       ...
8095  0.149626 -0.002949
8096 -0.790647 -0.139753
8097  0.307854  0.116299
8098 -1.180547 -0.646790
8099 -0.055296  0.805151

[900 rows x 2 columns]
             2         4
8100 -1.297448 -1.263784
8101 -1.354069 -0.066119
8102  0.162843 -0.450268
8103  0.209465 -2.259341
8104  0.201845  1.288258
...        ...       ...
8995 -1.119812  0.597524
8996  1.029081 -0.206191
8997  0.805808 -0.064225
8998 -1.231076 -1.473656
8999 -0.825838  0.836342

[900 rows x 2 columns]
             2         4
9000 -0.800720 -0.523105
9001 -0.006179 -0.487386
9002  1.675251  3.085301
9003  1.393134  0.614365
9004 -0.014729  1.034312
...        ...       ...
9895 -0.625491  0.273673
9896  1.340054  0.091515
9897 -0.257787  0.451241
9898  1.078184  0.040005
9899 -0.502708 -1.232974

[900 rows x 2 columns]
             2         4
9900  0.817668  1.984047
9901  0.417780  0.431444
9902 -1.414230 -1.154479
9903 -0.111599 -3.237488
9904 -0.325516  0.829932
...        ...       ...
9995  1.453013  0.119547
9996 -0.262460  0.983975
9997  0.200018  0.320746
9998  0.023910  1.433069
9999 -0.160824 -1.520256

[100 rows x 2 columns]

In [16]:
#every time it read subsequent chunk of size 900
next(df_chunk)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
7200,1.058192,0.619873,1.829128,0.061060,-0.382234,0.287801,1.028848,-0.400066,-0.198284,1.929400,...,0.693838,-0.870286,0.346514,0.913013,-1.632944,-0.042404,0.930582,1.902126,0.884426,0.563787
7201,-1.023003,0.811087,-0.065903,0.682430,-0.548937,0.116484,0.249751,1.340814,0.656113,0.913845,...,-0.675526,2.808722,-0.535344,-0.974753,-0.066716,0.199607,0.580772,2.226074,-1.017933,0.647160
7202,1.051301,0.614340,0.933422,-0.889715,-0.476773,1.216097,0.783122,-1.563729,-1.018318,0.036727,...,1.078257,-1.897831,0.545475,0.576403,1.562270,-0.796965,-0.178509,-1.268670,0.631095,0.534231
7203,-0.195990,-1.157229,2.063277,0.852533,0.010616,1.562541,2.596924,-0.492575,-1.258053,-0.275694,...,-0.979310,0.421897,0.404894,-0.321256,-0.817087,-1.365867,-1.040329,-0.018151,-0.253381,0.341798
7204,1.973207,-1.775374,-0.420170,-0.756806,1.537850,-0.094947,1.002146,-0.651981,0.822313,0.499992,...,0.576145,1.347403,-0.826069,0.355896,0.232503,-1.592819,-0.639640,-0.208206,-0.265530,0.985639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8095,-0.953139,0.461541,0.149626,-0.142353,-0.002949,0.000244,-0.270118,1.527754,-0.070011,-1.767098,...,-0.535919,-0.397566,-0.877949,-0.113138,-0.342881,0.655277,2.764688,-0.118297,-1.560073,0.087308
8096,-1.419678,0.767328,-0.790647,0.232824,-0.139753,-1.560885,0.891339,0.327730,0.498266,0.490381,...,0.366688,-0.599679,-1.359076,-0.860984,-0.345585,-0.595096,0.822935,-0.572435,0.091430,0.118106
8097,0.552650,-0.500342,0.307854,0.390912,0.116299,1.039004,0.366363,0.855415,0.395766,0.608392,...,-1.405053,0.880295,0.934412,0.482994,1.151918,-0.347054,-1.211428,1.046391,2.274889,-1.094320
8098,0.412350,-1.774851,-1.180547,0.328017,-0.646790,-0.446201,1.194790,0.704048,-1.356818,-1.107476,...,-0.187688,-1.076525,0.769722,0.251176,-0.132973,0.131555,0.562223,1.197971,2.006864,-0.569497
8099,0.575610,1.194792,-0.055296,1.695745,0.805151,-0.158199,-0.441630,0.041138,-0.942004,-0.633577,...,0.588591,0.468391,-0.291360,0.349492,-0.166593,-0.489443,-0.598465,1.154623,-0.533043,0.565678

In [45]:
#join all the DF into single data frame 
df_chunk = pd.read_csv('df.csv', chunksize=900)

def process_chunk(df):
    #filter out the column and retain the columns "2" and "4"
    #return df[["2","4"]]
    return df.iloc[:][['2','4']]
    #return df.iloc[::2][['2','4']]  #only alternative rows' columns
    
#every chunk will be read and passed to the functions  
resultDF = pd.DataFrame()
for chunk in df_chunk:
    resultDF = resultDF.append(process_chunk(chunk), sort=False)

print(resultDF)

             2         4
0    -0.542956  0.421120
1     1.897928 -1.868350
2    -0.198272  1.373825
3    -0.086345  0.464497
4     0.640646 -0.481892
...        ...       ...
9995  1.453013  0.119547
9996 -0.262460  0.983975
9997  0.200018  0.320746
9998  0.023910  1.433069
9999 -0.160824 -1.520256

[10000 rows x 2 columns]

In [46]:
#another solution 
import pandas as pd
df_chunk = pd.read_csv('df.csv', chunksize=900)
df_chunk    
def process_chunk(df):
    return df.iloc[:][['2','4']]
    
chunk_list = []    
for chunk in df_chunk:
    chunk_list.append(process_chunk(chunk))
    
df_concat = pd.concat(chunk_list)
df_concat

             2         4
0    -0.542956  0.421120
1     1.897928 -1.868350
2    -0.198272  1.373825
3    -0.086345  0.464497
4     0.640646 -0.481892
...        ...       ...
9995  1.453013  0.119547
9996 -0.262460  0.983975
9997  0.200018  0.320746
9998  0.023910  1.433069
9999 -0.160824 -1.520256

[10000 rows x 2 columns]

In [58]:
#3rd solution 
import pandas as pd
df_chunk = pd.read_csv('df.csv', chunksize=900)
df_chunk    
def process_chunk(df):
    return df.iloc[:][['2','4']]
    
result_DF = pd.DataFrame() 
for chunk in df_chunk:
    result_DF = pd.concat([result_DF,process_chunk(chunk)], axis=0)

result_DF

             2         4
0    -0.542956  0.421120
1     1.897928 -1.868350
2    -0.198272  1.373825
3    -0.086345  0.464497
4     0.640646 -0.481892
...        ...       ...
9995  1.453013  0.119547
9996 -0.262460  0.983975
9997  0.200018  0.320746
9998  0.023910  1.433069
9999 -0.160824 -1.520256

[10000 rows x 2 columns]

In [54]:
df_concat.dtypes

2    float64
4    float64
dtype: object

In [59]:
df_concat.memory_usage()

Index      128
2        80000
4        80000
dtype: int64

In [60]:
import sys
sys.getsizeof(df_concat)

160144

In [61]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       10000 non-null  float64
 1   4       10000 non-null  float64
dtypes: float64(2)
memory usage: 156.4 KB

In [62]:
160144/1024

156.390625

In [65]:
df_concat['4'] = df_concat['4'].astype('float32')
df_concat.dtypes

2    float64
4    float32
dtype: object

In [67]:
df_concat.memory_usage()

Index      128
2        80000
4        40000
dtype: int64

In [68]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       10000 non-null  float64
 1   4       10000 non-null  float32
dtypes: float32(1), float64(1)
memory usage: 117.3 KB

In [70]:
#pd.read_csv('xxxxx.csv', dtype={ '4': np.float32 } )
df_concat.loc[:5000, 'Sensor'] = 'Temperature'
df_concat.loc[5000:, 'Sensor'] = 'Humidity'
df_concat

             2         4       Sensor
0    -0.542956  0.421120  Temperature
1     1.897928 -1.868350  Temperature
2    -0.198272  1.373825  Temperature
3    -0.086345  0.464497  Temperature
4     0.640646 -0.481892  Temperature
...        ...       ...          ...
9995  1.453013  0.119547     Humidity
9996 -0.262460  0.983975     Humidity
9997  0.200018  0.320746     Humidity
9998  0.023910  1.433069     Humidity
9999 -0.160824 -1.520256     Humidity

[10000 rows x 3 columns]

In [72]:
df_concat.memory_usage()

Index       128
2         80000
4         40000
Sensor    80000
dtype: int64

In [74]:
df_concat.dtypes

2         float64
4         float32
Sensor     object
dtype: object

In [75]:
df_concat.memory_usage(deep=True) # sensor size is changed.

Index        128
2          80000
4          40000
Sensor    665000
dtype: int64

In [76]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       10000 non-null  float64
 1   4       10000 non-null  float32
 2   Sensor  10000 non-null  object
dtypes: float32(1), float64(1), object(1)
memory usage: 195.4+ KB

In [77]:
df_concat['Sensor'] = df_concat['Sensor'].astype('category')

In [78]:
df_concat.memory_usage(deep=True)

Index       128
2         80000
4         40000
Sensor    10241
dtype: int64

In [79]:
df_concat.dtypes

2          float64
4          float32
Sensor    category
dtype: object