In [14]:
import pandas as pd
df = pd.read_csv('flights.csv', dtype = 
                 {
    'ORIGN_APRPORT':object,
    'DESTINATION_AIRPORT': object
})
df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.memory_usage(deep=True)

Index                        128
YEAR                    46552632
MONTH                   46552632
DAY                     46552632
DAY_OF_WEEK             46552632
AIRLINE                343325661
FLIGHT_NUMBER           46552632
TAIL_NUMBER            366130523
ORIGIN_AIRPORT         338189518
DESTINATION_AIRPORT    350117070
SCHEDULED_DEPARTURE     46552632
DEPARTURE_TIME          46552632
DEPARTURE_DELAY         46552632
TAXI_OUT                46552632
WHEELS_OFF              46552632
SCHEDULED_TIME          46552632
ELAPSED_TIME            46552632
AIR_TIME                46552632
DISTANCE                46552632
WHEELS_ON               46552632
TAXI_IN                 46552632
SCHEDULED_ARRIVAL       46552632
ARRIVAL_TIME            46552632
ARRIVAL_DELAY           46552632
DIVERTED                46552632
CANCELLED               46552632
CANCELLATION_REASON    188547512
AIR_SYSTEM_DELAY        46552632
SECURITY_DELAY          46552632
AIRLINE_DELAY           46552632
LATE_AIRCRAFT_DELAY     46552632
WEATHER_DELAY           46552632
dtype: int64

In [21]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 2.6 GB

In [9]:
for dtype in ['float','int','object']:  # Windows users: change 'int' to 'int64'
    selected_dtype = df.select_dtypes(include=[dtype])
    print(f"Type: {dtype}")
    print("=============")
    print(selected_dtype.sample(3))
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(
           dtype,mean_usage_mb))

Type: float
=============
         DEPARTURE_TIME  DEPARTURE_DELAY  TAXI_OUT  WHEELS_OFF  \
5532215          1458.0             -7.0       8.0      1506.0
3527632          2041.0             -4.0      17.0      2058.0
893799           1359.0             -7.0      10.0      1409.0

         SCHEDULED_TIME  ELAPSED_TIME  AIR_TIME  WHEELS_ON  TAXI_IN  \
5532215           187.0         163.0     151.0     1737.0      4.0
3527632           188.0         166.0     142.0     2320.0      7.0
893799            113.0         108.0      85.0     1534.0     13.0

         ARRIVAL_TIME  ARRIVAL_DELAY  AIR_SYSTEM_DELAY  SECURITY_DELAY  \
5532215        1741.0          -31.0               NaN             NaN
3527632        2327.0          -26.0               NaN             NaN
893799         1547.0          -12.0               NaN             NaN

         AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
5532215            NaN                  NaN            NaN
3527632            NaN                  NaN            NaN
893799             NaN                  NaN            NaN
Average memory usage for float columns: 41.78 MB
Type: int
=============
Empty DataFrame
Columns: []
Index: [5235927, 1127308, 4607922]
Average memory usage for int columns: 0.00 MB
Type: object
=============
        AIRLINE TAIL_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  \
1058378      MQ      N695MQ            ORD                 RST
1246741      WN      N292WN            DAL                 AUS
4135951      DL      N345NW            MCI                 MSP

        CANCELLATION_REASON
1058378                 NaN
1246741                 NaN
4135951                 NaN
Average memory usage for object columns: 252.14 MB

In [39]:
def mem_usage(obj):
    if isinstance(obj, pd.DataFrame):
        usage_b = obj.memory_usage(deep=True).sum()
    else: # we assume if not a df then it's a series
        usage_b = obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2                          # bytes to megabytes   
    return "{:03.2f} MB".format(usage_mb)

In [40]:
def downcast_type(df, old_type, new_type):
    # get all the columns with the specified type – old_type
    df_oldtype = df.select_dtypes(include=[old_type])
    # convert all the columns from old_type to new_type
    df_newtype = df_oldtype.apply(pd.to_numeric, downcast=new_type)
 
    # print out the memory usage of old_type and new_type
    print(f"{old_type} memory usage: {mem_usage(df_oldtype)}")
    print(f"{new_type} memory usage: {mem_usage(df_newtype)}")
    # combine the two dfs so that you can compare before and after 
    # type conversion
    compare_dfs = pd.concat([df_oldtype.dtypes,df_newtype.dtypes],axis=1)
    compare_dfs.columns = ['Before','After']
    print(compare_dfs)
    
    # print the statistics of the conversion
    print(compare_dfs.apply(pd.Series.value_counts))
    return df_newtype

In [43]:
df_converted_int = downcast_type(df, "int64", "unsigned")    # int64 for Windows

int64 memory usage: 443.96 MB
unsigned memory usage: 83.24 MB
                    Before   After
YEAR                 int64  uint16
MONTH                int64   uint8
DAY                  int64   uint8
DAY_OF_WEEK          int64   uint8
FLIGHT_NUMBER        int64  uint16
SCHEDULED_DEPARTURE  int64  uint16
DISTANCE             int64  uint16
SCHEDULED_ARRIVAL    int64  uint16
DIVERTED             int64   uint8
CANCELLED            int64   uint8
        Before  After
uint8      NaN    5.0
uint16     NaN    5.0
int64     10.0    NaN

In [44]:
df_converted_int = downcast_type(df, "float", "float")

float memory usage: 710.34 MB
float memory usage: 355.17 MB
                      Before    After
DEPARTURE_TIME       float64  float32
DEPARTURE_DELAY      float64  float32
TAXI_OUT             float64  float32
WHEELS_OFF           float64  float32
SCHEDULED_TIME       float64  float32
ELAPSED_TIME         float64  float32
AIR_TIME             float64  float32
WHEELS_ON            float64  float32
TAXI_IN              float64  float32
ARRIVAL_TIME         float64  float32
ARRIVAL_DELAY        float64  float32
AIR_SYSTEM_DELAY     float64  float32
SECURITY_DELAY       float64  float32
AIRLINE_DELAY        float64  float32
LATE_AIRCRAFT_DELAY  float64  float32
WEATHER_DELAY        float64  float32
         Before  After
float32     NaN   16.0
float64    16.0    NaN

In [46]:
# make a copy of the dataframe and replace the columns with the downcasted types
df_converted_float = downcast_type(df, "float","float") 
optimized_df = df.copy()
optimized_df[df_converted_int.columns] = df_converted_int
optimized_df[df_converted_float.columns] = df_converted_float
print(mem_usage(df))
print(mem_usage(optimized_df))

float memory usage: 710.34 MB
float memory usage: 355.17 MB
                      Before    After
DEPARTURE_TIME       float64  float32
DEPARTURE_DELAY      float64  float32
TAXI_OUT             float64  float32
WHEELS_OFF           float64  float32
SCHEDULED_TIME       float64  float32
ELAPSED_TIME         float64  float32
AIR_TIME             float64  float32
WHEELS_ON            float64  float32
TAXI_IN              float64  float32
ARRIVAL_TIME         float64  float32
ARRIVAL_DELAY        float64  float32
AIR_SYSTEM_DELAY     float64  float32
SECURITY_DELAY       float64  float32
AIRLINE_DELAY        float64  float32
LATE_AIRCRAFT_DELAY  float64  float32
WEATHER_DELAY        float64  float32
         Before  After
float32     NaN   16.0
float64    16.0    NaN
2667.12 MB
2311.95 MB

In [47]:
# get all the columns with the Object type
df_obj = df.select_dtypes(include=['object']).copy()
print(df_obj.describe())

        AIRLINE TAIL_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  \
count   5819079     5804358        5819079             5819079
unique       14        4897            930                 629
top          WN      N480HA            ATL                 ATL
freq    1261855        3768         346836              346904

       CANCELLATION_REASON
count                89884
unique                   4
top                      B
freq                 48851

In [49]:
df_obj_cat = df_obj.astype('category')
print(df_obj_cat.head())

  AIRLINE TAIL_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT CANCELLATION_REASON
0      AS      N407AS            ANC                 SEA                 NaN
1      AA      N3KUAA            LAX                 PBI                 NaN
2      US      N171US            SFO                 CLT                 NaN
3      AA      N3HYAA            LAX                 MIA                 NaN
4      AS      N527AS            SEA                 ANC                 NaN

In [50]:
print(mem_usage(df_obj))
print(mem_usage(df_obj_cat))

1512.82 MB
44.95 MB

In [51]:
optimized_df[df_obj_cat.columns] = df_obj_cat
print(mem_usage(df))
print(mem_usage(optimized_df))

2667.12 MB
844.08 MB